header
  nav.navbar.navbar-expand-md.p-0.container.my-4
      a(href='/').justify-content-start
        img(src='images/logo.svg')
      button.navbar-toggler.rounded-0.p-0(
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ) 
        img(src="images/menu.svg" alt="Burger Icon")
      #navbarCollapse.collapse.navbar-collapse.justify-content-md-end
        ul.navbar-nav
          li.nav-item 
            a(href="/").nav-link.color-accent.p-small Home
          li.nav-item 
            a(href="/").nav-link.mx-0.mx-md-3.p-small Company
          li.nav-item 
            a(href="/").nav-link.p-small Blog
      #navbarCollapse.collapse.navbar-collapse.justify-content-md-end
        ul.navbar-nav
          li.nav-item.my-auto  
            a(href="/").nav-link.me-3.p-small Post a Job
          li.nav-item
            a(href="/").btn.rounded-0.btn-header.text-white.p-small Log in