doctype html
html(lang="en")
  head
    title f5-test
    link(
      rel="stylesheet"
      href="css/style.min.css"
    )
    meta(
      charset="utf-8",
      name="viewport",
      content="width=device-width, initial-scale=1"
    )
  body
    include includes/header.pug
    include includes/main.pug
    include includes/footer.pug
    script(src="js/main.min.js")